<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="target">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/releases/latest"/>
			<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.platform.sdk" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20200224183213/repository"/>
			<unit id="org.hamcrest.core" version="1.3.0.v20180420-1519"/>
			<unit id="org.hamcrest" version="0.0.0"/>
			<unit id="org.hamcrest.library" version="1.3.0.v20180524-2246"/>
			<unit id="org.junit" version="4.13.0.v20200204-1500"/>
			<unit id="org.mockito" version="2.23.0.v20190527-1420"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/technology/swtbot/releases/latest/"/>
			<unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="3.0.0.202006031738"/>
			<unit id="org.eclipse.swtbot.feature.group" version="3.0.0.202006031738"/>
		</location>
	</locations>
</target>